<h1>Showing One User</h1>

<div>
    Username: {{user.username}}
</div>
<div>
    City: {{user.city}}
</div>


{{!-- <form action='/users/{{user._id}}/edit' method='GET'>
    <input type="submit" value="Edit User">
</form> --}}

<form action='/users/{{user._id}}?_method=DELETE' method='POST'>
    <input type="submit" value="Delete User">
</form>
<div>
<a href='/users/{{user._id}}/edit'>Edit User</a>
</div>
<div>
<a href='/users'>Go Back to Users</a>
</div>